* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


.main-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo h1 {
    font-size: 39px;
    color: rgb(1, 51, 63);
}

.logo span{
    letter-spacing: 14px;
    font-size: 12px;
}


.nav-items {
    display: flex;
    list-style: none;
    gap: 50px;
    margin-right: 100px;
}

.nav-items li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(1, 51, 63);
}


/* SEARCH BOX */
.search-box {
    display: flex;
}

.search-box label {
    color: rgb(1, 51, 63);
}

.search-box input {
    padding: 5px 10px;
    outline: none;
    font-style: italic;
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid rgb(128, 128, 128);
}

.search-box input:focus {
    background-color: rgba(201, 203, 204, 0.199);
}


/* _____________________Banner_____________________________________ */



.banner-section {
    background-color: #ddf0fcd8;
    width: 100%;
    padding: 50px;
}

.banner {
    height: 400px;
    display: flex;
    width: 100%;
    margin: 0 auto;

}

.col-1 {
    width: 40%;
}

.banner .col-1 .content {
    margin-top: 40px;
}

.content h5 {
    color: rgb(1, 51, 63);
    padding: 10px 0;
    font-size: 17px;
}

.content h1 {
    color: #173a38;
    font-size: 40px;
    padding-bottom: 20px;

}

.content .btn {
    cursor: pointer;
    border: 2px solid rgb(1, 60, 75);
    padding: 12px 20px;
    background: #fff;
    font-weight: bold;
    border-radius: 3px;
}

.content .btn:hover {
    background: rgb(1, 60, 75);
    transition: 0.3s;
    color: #fff;
}

.banner .col-2 {
    width: 60%;
}

.col-2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ---------------- Books Section---------------------- */


.popular-book-section {
    /* border: 2px solid red; */
    padding: 50px 0;
}

.popular-book-section h2 {
    text-align: center;
    color: rgb(1, 60, 75);
}


.main-card {
    margin: 50px auto;
    /* border: 2px solid red; */
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.main-card .card {
    border-radius: 5px;
    width: 200px;
    overflow: hidden;
    box-shadow: 1px 1px 10px 2px rgb(243, 236, 236);
    transition: 0.3s;
    cursor: pointer;
}

.main-card .card:hover {
    /* transform: translateY(-10px); */
    box-shadow: 1px 1px 19px 2px rgba(1, 51, 63, 0.226);
}

.card-img {
    border-bottom: rgba(221, 219, 219, 0.658);
}

.card-img img {
    object-fit: cover;
    width: 200px;
    height: 220px;
}

.main-card .card-content {
    padding: 10px 5px;
}

.main-card .book-name {
    padding: 10px 0;
    color: rgb(1, 60, 75);
}

span {
    color: black;
    font-weight: bold;
}

.main-card .card-content :nth-child(2) {
    text-decoration: line-through;
    color: grey;
}

.main-card .btn {
    display: block;
    width: 80px;
    background-color: #fff;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 2px;
    border: 2px solid rgb(1, 51, 63);
    transition: 0.3s;
}

.main-card .btn:hover {
    background-color: rgb(1, 51, 63);
    color: #fff;
}

/* _________________Foter Section _____________ */

footer {
    background-color: rgba(200, 223, 223, 0.801);
}

.footer-nav {
    padding: 30px;
}

.footer-nav ul {
    display: flex;
    flex-direction: column;

    list-style: none;
    gap: 15px;
}

.footer-nav ul li a {
    text-decoration: none;
    color: rgb(1, 51, 63);
    font-size: 18px;
}

.sub-footer {
    text-align: center;
    color: #fff;
    padding: 10px 0;
    background-color: rgb(1, 51, 63);
}

.sub-footer h4 {
    font-weight: lighter;
}

/* __________________________NEW BOOks_______________________ */

.new-books {
    padding: 50px 0;
}

.new-books h2 {
    text-align: center;
    color: rgb(1, 60, 75);
}

.new-books .main-card {
    margin: 50px auto;
    width: 95%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}


